body {
    background: #E0D6BA;
    color: #1E1918;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.8em;
}
a:link, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
  }
.title {
    text-align: center;
    line-height:3em;
    color:#362943;
    font-family: Verdana, sans-serif;
}
form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
input[type="text"] {
    width: 200px;
}
.command {
    font-size: 12px;
    cursor: pointer;
    color: #08c;
}
.listNone {
    list-style: none;
}
#rm {
    width: 100px;
    padding: 3px;
    border-radius: 4px;
    background: #52131E;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 0 #461019;
    cursor: pointer;
    user-select: none;
    margin: 0 auto;
}
#rm:hover {
    opacity: 0.9;
}

.nameField {
    width: 250px;
    background: #FFF7EE;
    padding: 20px;
    border: 3px solid #363943;
    border-radius: 12px;
    margin: 16px auto;
}

.v-enter-active, .v-leave-active .v-move {
    transition: transform 1s;
}
.v-enter, .v-leave-to {
    transform: translateX(80%);
}

.roulette {
    width: 250px;
    background: #FFF7EE;
    padding: 20px;
    border-radius: 12px;
    margin: 16px auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid #363943;
}
.buttons {
    text-align: center;
}
#start, #stop, #reset{
display: inline-block;
width: 100px;
padding: 15px;
border-radius: 4px;
background: #52131E;
text-align: center;
color: #fff;
box-shadow: 0 4px 0 #461019;
cursor: pointer;
user-select: none;
}
 
.inactive {
    opacity: 0.5;
}

.resultMove-move {
    transition: transform .5s;
}

[v-cloak] {
    display: none;
}